<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="inputDiv">
        <table>
            <tr>
                <td>
                    <h1>Gestione Spese</h1>
                </td>
                <td colspan="3">
                    <img src="https://images.vexels.com/media/users/3/126950/isolated/preview/4adb758a5695c4f97cf672e77fb9cd1e-3d-hand-drawn-euro-sign.png" height="100px" width="100px">
                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input [(ngModel)] = "numero" type="number" min="0" id="inputNumeri" placeholder="0">
                </td>
                <td>
                    <button (click) ="aggiungiEntrata()" id="piu" class="bottoni">+</button>
                </td>
                <td>    
                    <button (click) ="aggiungiSpesa()" id="meno" class="bottoni">-</button>
                </td>
            </tr>
        </table>
    </div>

    <table>
        <tr *ngFor="let b of bilancio; let i = index" colspan="" [ngClass]="{'entrata' : b > 0, 'spesa' : b < 0}">

            <ng-container *ngIf="b > 0; else spesaTemplate">
                <td class="movimentoEntrata" colspan="">
                    € +{{ b }}
                </td>
                <td class="bottoneXEnt" colspan="">
                    <button (click)="rimuoviMovimento(i)" class="bottoni" id="ics">❌</button>
                </td>
            </ng-container>

            <ng-template #spesaTemplate>
                <td class="bottoneXSpe" colspan="">
                    <button (click)="rimuoviMovimento(i)" class="bottoni" id="ics">❌</button>
                </td>
                <td class="movimentoSpesa" colspan="">
                    € {{ b }}
                </td>
            </ng-template>

        </tr>

        <tr class ="output">
            <td id="totEntrate" colspan="">
                Entrate: € {{ totEntrate() }}
            </td>
            <td id="totSpese" colspan="">
                Spese: € {{ totSpese() }}
            </td>
        </tr>
        <tr class="output">
            <td id="totBilancio" colspan="5">
                Bilancio: € {{ sommaMovimenti() }}
            </td>
        </tr>
    </table>
</body>
</html>
